<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>注册页</title>
    <style>
        #app {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 98vh;
        }

        .form {
            width: 400px;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="form">
            <el-form :model="form" status-icon :rules="rules" ref="form" label-width="100px" class="demo-form">
                <el-form-item label="账号名" prop="userAccount">
                    <el-input v-model="form.userAccount" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="密码" prop="passWord">
                    <el-input type="password" v-model="form.passWord" autocomplete="off"></el-input>
                </el-form-item>

                <el-form-item>
                    <el-button style="width:100%" type="primary" @click="submitForm('form')">登陆</el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: function () {
                return {
                    form: {
                        userAccount: null,
                        passWord: null,
                    },
                    rules: {
                        userAccount: [
                            { required: true, message: '请输入', trigger: ['change', 'blur'] },
                        ],
                        passWord: [
                            { required: true, message: '请输入', trigger: ['change', 'blur'] },
                        ],

                    }
                }
            },
            methods: {
                submitForm(formName) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {

                            axios({
                                method: 'POST',
                                url: 'http://192.168.101.112:9999/users/login',
                                data: this.form,

                            }).then(res => {
                           
                                this.$message(res.data.message);
                            })
                        } else {
                            console.log('error submit!!');
                            return false;
                        }
                    });
                },
            },
        })
    </script>




</body>

</html>